*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:monospace ;

}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #0a3c2f;
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    background: #0d614b;
    padding: 40px 60px;
}
h2{
    font-size: 3em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
.reset{
    padding: 15px 20px;
    color: #267c65;
    background: #fff;
    border: none;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
}
.reset:focus{
    color: #fff;
    background: #267c65;
}
.game{
    width:440px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    transform-style: preserve-3d;
    perspective: 500px;
    
}
.item .boxOpen{
    transform: rotateY(0deg);

}
.item{
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:3em;
    background: #fff;
    transition: 0.25s;
    transform: rotateY(180deg);
}
.item::after{
    content: '';
    position: absolute;
    inset: 0;
    background: #269d70;
    transition: 2.5s;
    transform: rotateY(0deg);
    /* opacity: 0.85;
} */
 backface-visibility: hidden;
}
.boxOpen:after,
.boxMatch:after{
    transform: rotateY(180deg);
}